<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Ask Play services to fetch the scanner when the app is installed,
             so the first scan does not stall on a download. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
    </application>
</manifest>
